body{
    margin-top: 3rem;
    margin: 0;
    background: rgb(102, 102, 102);
    color: white;
    font-family: 'Roboto' , sans-serif;
}
.cabecalho{
    position:sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    padding: 1.25rem;
    box-sizing: border-box;
    background: #333;
    color: white;
    width: 100%;
}  
.iconeHome img{
    height: 2rem;
    color: #00B37E;
}
.iconeHome strong{
    margin-left: 0.25rem;
    fill: #00875f;
}

nav{
    display: flex;
    justify-content: space-between;
   
}
nav a{
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    
}
a:hover{
    color:rgb(104, 104, 105);

}

.conteudo{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    
}
main{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

 h2{
    color: rgb(0, 7, 112);
}
#parceiros img{
    width: 12.5rem;
    height: 9.3rem;
    margin: 5rem;
}

#contato{
    border: 1px solid black;
    border-radius: 8px;
    background: rgb(187, 187, 187);
    color: black;
    padding: 1rem;

}

#contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contato form input{
    width: 80%;
	margin: 0 auto;
	padding: 1.6rem;
	border: none;
	margin-bottom: 1.6rem;
	border-radius: 50px;
}
#contato form textarea{
    width: 80%;
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin: 1rem 0;
}
.conteudoProduto{
    flex: 2;
    background: #C0C0C0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 1rem;
}
.conteudoProduto:hover{
    transform: translateX(0) scale(1.15);
    transition: 0.8s;
}
#quemsomos img{
    width: 79.5rem;
    height: 19.9rem;
}
#quemsomos section{
    padding: 1rem;
    margin: 1rem;
}
button{
    padding: 0.625rem;
    text-align: center;
	width: 20%;
	margin: 0  auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: #00875f;
	cursor: pointer;
}
button:hover{
    background: #00B37E;
}

.produtos img{
    width: 9.3rem;
    height: 12.5rem;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
    background: #333;
    color: white;
    align-items: center;
    width: 100%;
}
#redesSociais{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}

#redesSociais section{
    display: flex;
     
}

#redesSociais img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}
footer a{
    color: white;
    text-decoration: none;
}
#iconeFooter{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}
#iconeFooter img{
    height: 3rem;
}

@media (max-width: 768px){
    html{
        font-size: 80%;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        
    }
}
